<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm"
     th:fragment="navbar">

    <div class="container">

        <!-- Logo -->

        <a class="navbar-brand fw-bold fs-3" th:href="@{/}">
            🛒 Smart Grocery
        </a>

        <!-- Mobile Toggle -->

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarMenu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Menu -->

        <div class="collapse navbar-collapse"
             id="navbarMenu">

            <ul class="navbar-nav ms-auto align-items-center">

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/products}">
                        Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/shops}">
                        Shops
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/about}">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/contact}">
                        Contact
                    </a>
                </li>

                <li class="nav-item ms-2">

                    <a class="btn btn-light"
                       th:href="@{/login}">
                        Login
                    </a>

                </li>

                <li class="nav-item ms-2">

                    <a class="btn btn-warning"
                       th:href="@{/register}">
                        Register
                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>

</body>

</html>